<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net451" />
  <package id="Castle.Core-log4net" version="3.2.0" targetFramework="net451" />
  <package id="Castle.LoggingFacility" version="3.2.0" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.2.0" targetFramework="net451" />
  <package id="Kispanadi.Common" version="1.0.69.11" targetFramework="net451" />
  <package id="Kispanadi.Common.Castle" version="1.0.69.9" targetFramework="net451" />
  <package id="Kispanadi.Common.Ddd" version="1.0.69.7" targetFramework="net451" />
  <package id="Kispanadi.Common.Ddd.Interface" version="1.0.73.11" targetFramework="net451" />
  <package id="Kispanadi.Common.Wcf.Faults" version="1.0.69.7" targetFramework="net451" />
  <package id="Kispanadi.International.MobileTopup.Interface.Common" version="1.0.17" targetFramework="net451" />
  <package id="log4net" version="1.2.10" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" />
  <package id="OctoPack" version="3.6.3" targetFramework="net451" developmentDependency="true" />
</packages>